<div>
    <iframe [src]="video.url | safe" width="100%" height="300" frameborder="0" allowfullscreen></iframe>
</div>
<h2>Update Video</h2>
<form #formValue='ngForm' (ngSubmit)='onSubmitForm(video)' novalidate>
    <div class="form-group">
        <input  [class.is-invalid]='title.invalid && title.touched' 
                required #title='ngModel' name="title" type="text" 
                class="form-control" [(ngModel)]='video.title'>
        <div *ngIf='title.invalid && title.touched' class="text-danger">
            title field is required
        </div>
    </div>
    <div class="form-group">
        <input [class.is-invalid]='url.invalid && url.touched' 
               #url='ngModel' [(ngModel)]='video.url' 
               type="url" class="form-control"  name='url' required>
        
        <div *ngIf='url.invalid && url.touched' class="text-danger">
            <div *ngIf='url.errors.required'>url is required</div>
            <div *ngIf='url.errors.url'>url is not valid</div>
        </div>
    </div>
    <div class="form-group">
        <textarea #description='ngModel' [(ngModel)]='video.description' class="form-control" rows="4" name='description'></textarea>
    </div>
    <button [disabled]='formValue.form.invalid' type="submit" class="btn btn-primary">Update</button>
    <button (click)='deleteVideo(video)' class="btn btn-danger">Delete</button>
</form>


